# Auto detect text files and perform LF normalization
* text=auto

# Defold Project Settings
*.project linguist-language=INI
*.script_api linguist-language=YAML

# Exclude files from archive
.eslintignore export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.vscode export-ignore
.prettierignore export-ignore
.prettierrc.json export-ignore
_docs export-ignore
tests export-ignore
